<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
<% }) %>
    </ul>
<% } %>


    <div id="loginContainer">
    <form id="add-classification" action="/inventory/add-classification" method="post">
        <fieldset>
            <p>Name Must be Alphabetic Characters ONLY, cannot contain a space or special character of any kind</p>
            <label for="classification_name">New Classification Name: </label>
            <input type="text" name="classification_name" id="classification_name" required pattern="^[^\s\W]+$>">
            <div id="loginBtn"><button type="submit" class="btn" value="Add">Add Classification</button></div>
        </fieldset>
    </form>
</div>